<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{instinfo.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{instinfo.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="padding">
    <div >{{instinfo.summary}}</div>
    <div class="">
      <div><ion-icon class="f-p margin-right-05x" name="navigate-outline"></ion-icon></div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
      <div class="f-p">课程体系</div>
    </div>
  </div>
  
</ion-content>
